body{
    width: 260px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper{
    position: relative;

    padding: 40px 20px 0 20px;
    
    max-width: 220px;
    width: 100%;
}

input{
    max-width: 200px;
    width: 100%;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(51, 58, 222, 0.2), 0px 4px 6px rgba(74, 0, 224, 0.06);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input::placeholder{
    letter-spacing: 0.03em;
    color: #737189;
    margin: 0px 10px;
}

input:focus{
    outline: 1px solid rgba(51, 58, 222, 0.3);
}

p{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 10px 0;
    padding: 0;
}

.row{
    width: 100%;
    max-width: 220px;
    margin-top: 17px;
}

.pickers{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.desc{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #737189;
    width: 100%;
    margin-top: 10px;
}

.multi__line{
    display: flex;
    justify-content: space-between;
}
.multi__line input{
    max-width: 120px;
}

.time-picker{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

#timeM, #timeH{
    max-width: 20px;

    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #333ADE; 
    text-align: center;
}

#timeH{
    margin-right: 5px;
}

#timeM{
    margin-left: 5px;
}

#timeH::placeholder, #timeM::placeholder{
    text-align: center;
    margin-left: -10px;
}


.btn{
    width: 100%;
    max-width: 240px;
}

#sendButton{
    width: 100%;
    margin: 0;
    height: 37px;
    border:none;
    background: #333ADE;
    border-radius: 5px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    
    color: #FFFFFF;

    cursor: pointer;
}

#sendButton:hover{
    background: rgba(51, 58, 222, 0.9);
}

#sendButton:active{
    background: rgba(51, 58, 222, 0.7);
}

/* switch button ========================== */

.switcher{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switcher_wrapper{
    width: 100%;
    background: #F5F5FD;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.switcher_wrapper p{
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.switch {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #333ADE;
}

input:focus + .slider {
    box-shadow: 0 0 1px #333ADE;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Закругленные ползунки */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* уменьшенный переключатель */

.switch-small {

    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch-small input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-small {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-small:before {
    position: absolute;
    content: "";
    width: 15.86px;
    height: 16.25px;
    left: 1.83px;
    bottom: 1.87px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider-small {
    background-color: #333ADE;
}

input:focus + .slider-small {
    box-shadow: 0 0 1px #333ADE;
}

input:checked + .slider-small:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Закругленные ползунки */
.round {
    border-radius: 34px;
}

.round:before {
    border-radius: 50%;
}



/* Date picker ============================= */

.date-picker {
    position: relative;
    width:100px;

    box-shadow: 0px 1px 2px rgba(51, 58, 222, 0.2), 0px 4px 6px rgba(74, 0, 224, 0.06);
    border-radius:5px; 

    padding: 10px 5px;

    cursor: pointer;
    user-select: none;
}

.date-picker:hover {
    background-color: #F3F3F3;
}

.date-picker .selected-date {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #333ADE;
}

.date-picker .dates {
    display: none;
    position: absolute;
    bottom:100%;
    left:0;
    right: -105%;

    border: .5px solid rgba(51, 58, 222, 0.2);
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(51, 58, 222, 0.2), 0px 4px 6px rgba(74, 0, 224, 0.06);

    background-color: #FFF;
}

.date-picker .dates.active {
    display: block;
    z-index: 1000;
}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EEE;
}

.date-picker .dates .month .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
    background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
    background-color: #333ADE;
    color: #fff;
}

.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
}
.date-picker .dates .days .day { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
}
.date-picker .dates .days .day:hover { 
  background-color: #ECEDFD;
  transition: all 0.3s ease;
}

.date-picker .dates .days .notAvailableDay { 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #737189;
  background-color: #ededed;
}

.date-picker .dates .days .day.selected {
    background-color: #333ADE;
    color: #fff;
} 